*{
    font-family: Arial;
    font-size: 16px
}
body {
    background-color: rgba(79, 80, 160, 0.637);
}
h1{ 
    font-size: 25pt;
    color: rgb(113, 65, 158);
}
h2{
    font-size: 19pt;   
    color: rgb(113, 65, 158);
}
main {
    background-color: white;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
    padding: 10px;
}